{% extends 'base_2.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
      <div class="page-header min-height-0 border-radius-xl mt-4">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="{% static 'img/illustrations/Kanban.png' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{board.name}}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{board.description}}
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                <li class="nav-item">
                  <a class="btn btn-link text-dark px-1 mb-0" href="{% url 'board-update' board.id %}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true">&nbsp; Edit</i></a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-link text-danger text-gradient px-1 mb-0" href="{% url 'board-delete' board.id %}"><i class="far fa-trash-alt me-2">&nbsp; Delete</i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card pb-0 px-3">
            <div class="d-flex justify-content-center">
              <form method="get">
                {{filter.form}}
                <button class="btn btn-link text-dark px-3 mb-0" type="submit"><i class="ni ni-ui-04 text-dark cursor-pointer text-dark me-2">&nbsp; Filter</i></button>
                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'board-detail' board.id %}"><i class="far fa-trash-alt me-2">&nbsp; Reset</i></a>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Next</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="d-flex p-4 mb-2 bg-gray-100 border-radius-lg flex-column justify-content-center text-center">
                    <a href="{% url 'task-create' %}">
                      <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add new task"></i>
                    </a>
                </li>
                {% for task in tasks %}
                  {% if task.board.name == board.name %}
                    {% for member in board.members.all %}
                      {% if member == request.user %}
                        {% if task.state == 1 %}
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                          <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">{{ task.title }}</h6>
                            <span class="mb-2 text-xs">Created: <span class="text-dark font-weight-bold ms-sm-2"></br>{{task.created}}</span></span>
                            <span class="mb-2 text-xs">Description: <span class="text-dark ms-sm-2 font-weight-bold"></br>{{task.description}}</span></span>
                            <span class="mb-2 text-xs">Deadline: <span class="text-dark font-weight-bold ms-sm-2"></br>{{task.deadline}}</span></span>
                            <span class="mb-2 text-xs">Assigned to: <span class="text-dark font-weight-bold ms-sm-2"></br>
                              <div class="avatar-group mt-2">
                                {% for member in task.assigned_to.all %}
                                  <a href="{% url 'profile-info' member.id%}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{member}}">
                                      <img alt="Image placeholder" src="{{member.avatar.url}}">
                                  </a>
                                {% endfor %}
                              </div>
                            </span></span>
                          </div>
                          <div class="ms-auto text-end">
                            <a class="btn btn-link text-danger text-gradient px-1 mb-0" href="{% url 'task-delete' task.id %}"><i class="far fa-trash-alt me-2"></i></a>
                            <a class="btn btn-link text-dark px-1 mb-0" href="{% url 'task-update' task.id %}"><i class="fas fa-pencil-alt text-dark me-2"></i></a>
                          </div>
                        </li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">In progress</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="d-flex p-4 mb-2 bg-gray-100 border-radius-lg flex-column justify-content-center text-center">
                    <a href="{% url 'task-create' %}">
                      <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add new task"></i>
                    </a>
                </li>
                {% for task in tasks %}
                  {% if task.board.name == board.name %}
                    {% for member in board.members.all %}
                      {% if member == request.user %}
                        {% if task.state == 2 %}
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                          <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">{{ task.title }}</h6>
                            <span class="mb-2 text-xs">Created: <span class="text-dark font-weight-bold ms-sm-2"></br>{{task.created}}</span></span>
                            <span class="mb-2 text-xs">Description: <span class="text-dark ms-sm-2 font-weight-bold"></br>{{task.description}}</span></span>
                            <span class="mb-2 text-xs">Deadline: <span class="text-dark font-weight-bold ms-sm-2"></br>{{task.deadline}}</span></span>
                            <span class="mb-2 text-xs">Assigned to: <span class="text-dark font-weight-bold ms-sm-2"></br>
                              <div class="avatar-group mt-2">
                                {% for member in task.assigned_to.all %}
                                  <a href="{% url 'profile-info' member.id%}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{member}}">
                                      <img alt="Image placeholder" src="{{member.avatar.url}}">
                                  </a>
                                {% endfor %}
                              </div>
                            </span></span>
                          </div>
                          <div class="ms-auto text-end">
                            <a class="btn btn-link text-danger text-gradient px-1 mb-0" href="{% url 'task-delete' task.id %}"><i class="far fa-trash-alt me-2"></i></a>
                            <a class="btn btn-link text-dark px-1 mb-0" href="{% url 'task-update' task.id %}"><i class="fas fa-pencil-alt text-dark me-2"></i></a>
                          </div>
                        </li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Done</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="d-flex p-4 mb-2 bg-gray-100 border-radius-lg flex-column justify-content-center text-center">
                    <a href="{% url 'task-create' %}">
                      <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add new task"></i>
                    </a>
                </li>
                {% for task in tasks %}
                  {% if task.board.name == board.name %}
                    {% for member in board.members.all %}
                      {% if member == request.user %}
                        {% if task.state == 3 %}
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                          <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">{{ task.title }}</h6>
                            <span class="mb-2 text-xs">Created: <span class="text-dark font-weight-bold ms-sm-2"></br>{{task.created}}</span></span>
                            <span class="mb-2 text-xs">Description: <span class="text-dark ms-sm-2 font-weight-bold"></br>{{task.description}}</span></span>
                            <span class="mb-2 text-xs">Deadline: <span class="text-dark font-weight-bold ms-sm-2"></br>{{task.deadline}}</span></span>
                            <span class="mb-2 text-xs">Assigned to: <span class="text-dark font-weight-bold ms-sm-2"></br>
                              <div class="avatar-group mt-2">
                                {% for member in task.assigned_to.all %}
                                  <a href="{% url 'profile-info' member.id%}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{member}}">
                                      <img alt="Image placeholder" src="{{member.avatar.url}}">
                                  </a>
                                {% endfor %}
                              </div>
                            </span></span>
                          </div>
                          <div class="ms-auto text-end">
                            <a class="btn btn-link text-danger text-gradient px-1 mb-0" href="{% url 'task-delete' task.id %}"><i class="far fa-trash-alt me-2"></i></a>
                            <a class="btn btn-link text-dark px-1 mb-0" href="{% url 'task-update' task.id %}"><i class="fas fa-pencil-alt text-dark me-2"></i></a>
                          </div>
                        </li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock content %}