{% load static %}
<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="{% url 'home' %}" target="_blank" class="text-secondary me-3 mb-sm-0 mb-2">
            Home
          </a>
          <a href="{% url 'dashboard' %}" target="_blank" class="mb-0 text-secondary me-3 mb-sm-0 mb-2">
            Dashboard
          </a>
          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" target="_blank" class="mb-0 text-secondary me-3 mb-sm-0 mb-2">Logout</a> {% else %}
          <a href="{% url 'register' %}" target="_blank" class="mb-0 text-secondary me-3 mb-sm-0 mb-2">Register</a>
          <a href="{% url 'login' %}" target="_blank" class="mb-0 text-secondary me-3 mb-sm-0 mb-2"> Login </a> {% endif %}
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="https://github.com/Szezi/TasksManager" target="_blank" class="mb-0 text-secondary me-3 mb-sm-0 mb-2">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <p class="mb-0 text-secondary">
            Copyright © <script>
            document.write(new Date().getFullYear())
            </script> TasksManager
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- -------- END FOOTER w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <!--   Core JS Files   -->
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/soft-ui-dashboard.min.js' %}"></script>